<!DOCTYPE html>
<html>
	<head>
		<title>MaskMuseum</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
			<div class="container-fluid">
				<a href='/' class="navbar-brand mr-3">Home</a>
				<a href='/masks' class="navbar-brand mr-3">Masks</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<% if(!currentUser){ %>
							<li>
								<a class="nav-link" href="/login">Login </a>
							</li>
							<li>
								<a class="nav-link" href="/register">Sign up</a>
							</li>
						<% } else { %>
							<li>
								<a class="nav-link" href='#'>Signed in as <%= currentUser.username %></a>
							</li>
							<li>
								<a class="nav-link" href='/logout'>Logout</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		
			<div class='container'>
				<% if(success && success.length > 0) { %>
					<div class="alert alert-success" role="alert">
						<%= success %>
					</div>
				<% } %>
				<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
  					<%= error %>
				</div>
				<% } %>
			</div>